@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
  --primary-color : #f7f8fa;
  --logo-color : #4a4ed4
}

*, body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}